@font-face {
	font-family: "iconfont";
	src: url('//at.alicdn.com/t/font_2635892_05919shv5yu6.woff2?t=1625221333396') format('woff2'),
		url('//at.alicdn.com/t/font_2635892_05919shv5yu6.woff?t=1625221333396') format('woff'),
		url('//at.alicdn.com/t/font_2635892_05919shv5yu6.ttf?t=1625221333396') format('truetype');

}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
	content: "\e643";
}

.icon-message:before {
	content: "\e7ae";
}

.icon-message-active:before {
	content: "\e6aa";
}

.icon-setting-active:before {
	content: "\e611";
}

.icon-user:before {
	content: "\e609";
}

.icon-user-active:before {
	content: "\e7ac";
}

.icon-setting:before {
	content: "\e7ad";
}

.icon-fangdajing:before {
	content: "\e6cf";
}

.icon-biaoqing:before {
	content: "\e659";
}

.icon-shipin:before {
	content: "\e71f";
}

.icon-plus:before {
	content: "\e608";
}

.icon-phone:before {
	content: "\e660";
}

.icon-xinxi:before {
	content: "\e7ab";
}

.icon-addUser:before {
	content: "\e6c9";
}

.icon-huanyipi:before {
	content: "\e648";
}
